//@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;800;600&display=swap');

$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);
$White:hsl(0, 0%, 100%);
$White2:hsl(0, 100%, 98%);
$Pink: hsl(0, 80%, 86%);
$Pink2: hsl(0, 74%, 74%);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "Josefin Sans";
  
}
