@import "config";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.card {
    max-width: 360px;
    width: 85%;

    header {
        img {
            width: 40%;
            margin: 2em 2em 1em;
        }
    }

    aside {
        margin: 1em 0em;

        img {
            width: 100%;
            margin: 1em 0em;
        }
    }

    .details {

        text-align: center;

        h1 {
            letter-spacing: .4em;
            text-transform: uppercase;
            margin: 0.5em 0;

            span {
                font-weight: normal;
                color: $DesaturatedRed;
            }

        }

        p {
            color: $DesaturatedRed;
            line-height: 1.4em;
            padding: 1em;

        }

        .formControl {
            position: relative;

            img {
                position: absolute;
                top: 12px;
                right: 85px;
            }

            .hide{
                display: none;
            }

            .textinput {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 0em 1em;

                small {
                    padding: 0em 1em;
                    font-size: .7em;
                    color: $SoftRed;
                }
            }

            input[type="text"] {
                width: 100%;
                border: solid 2px $Pink;
                border-radius: 5em;
                padding: 1em;
                color: black;
                margin-bottom: .8em;
                &::placeholder{
                    color: $Pink;
                }
            }

            .button {
                position: absolute;
                top: -2px;
                right: 8px;
                background: linear-gradient(to right, $Pink, $Pink2);
                
                border-radius: 5em;
                padding: 1.75em 2.5em;
                border: solid 2px $Pink;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
                img{
                    top: center;
                    right: 27px;
                }

            }

        }

    }
}

.attribution {
    margin: 2em 0em;
    font-size: 1em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 720px) {}